{
  "openapi": "3.0.3",
  "info": {
    "title": "LinkFinder AI API",
    "description": "LinkFinder AI provides B2B lead generation, company enrichment, LinkedIn/B2B data lookup, and Instagram lookup through a single unified endpoint. Select the operation via the `type` field in the request body.\n",
    "version": "1.0.0",
    "contact": {
      "name": "LinkFinder AI Support",
      "url": "https://linkfinderai.com"
    }
  },
  "servers": [
    {
      "url": "https://api.linkfinderai.com",
      "description": "Production API (single endpoint for all operations)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "enrichmentRequest",
        "summary": "Unified enrichment endpoint",
        "description": "All LinkFinder AI operations go through this single endpoint. The `type` field selects which lookup/enrichment is performed. Every request costs 1 credit, including failed lookups where no data is found. Most endpoints respond synchronously; some (notably `linkedin_profile_to_linkedin_info`, and occasionally `company_domain_to_employees` or any other endpoint under load) return a 202 with a job_id/poll_url instead.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichmentRequest"
              },
              "examples": {
                "companyWebsite": {
                  "summary": "Find a company's website from its name",
                  "value": {
                    "type": "company_name_to_website",
                    "input_data": "Tesla"
                  }
                },
                "aiLeadFinder": {
                  "summary": "Natural-language lead search",
                  "value": {
                    "type": "leads_finder_ai",
                    "input_data": "VP Sales at B2B SaaS startup in the United States",
                    "fetch_count": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful synchronous response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted \u2014 request is processing asynchronously. Always returned for `linkedin_profile_to_linkedin_info`; may be returned by any endpoint (most commonly `company_domain_to_employees`) if it does not resolve within ~27 seconds.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncAcceptedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request \u2014 check `type` and `input_data`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded \u2014 implement exponential backoff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error \u2014 retry after 30 seconds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status/{job_id}": {
      "get": {
        "operationId": "pollAsyncJob",
        "summary": "Poll the status/result of an async job",
        "description": "Poll this endpoint using the `job_id` returned by a 202 response until `status` is `done` or `error`. Job results expire after 10 minutes.\n",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The job_id returned in the original 202 response"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status/result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found or expired (results expire after 10 minutes)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass your API key as a Bearer token in the Authorization header on every request. Never expose it client-side.\n"
      }
    },
    "schemas": {
      "EnrichmentRequest": {
        "type": "object",
        "required": [
          "type",
          "input_data"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Selects which enrichment/lookup operation to perform.",
            "enum": [
              "leads_finder_ai",
              "company_name_to_website",
              "company_domain_to_employees",
              "linkedin_profile_to_linkedin_info",
              "b2b_data_lookup",
              "instagram_lookup"
            ]
          },
          "input_data": {
            "type": "string",
            "description": "The input for the selected operation \u2014 e.g. a company name, domain, LinkedIn URL, or a natural-language lead description (for `leads_finder_ai`).\n"
          },
          "fetch_count": {
            "type": "integer",
            "description": "Used only by `leads_finder_ai`. Number of matching leads to return. Default 10, max 100.\n",
            "default": 10,
            "minimum": 1,
            "maximum": 100
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "result": {
            "type": "object",
            "nullable": true,
            "description": "The enrichment result. May be null if no data was found (the request still costs 1 credit).\n"
          }
        }
      },
      "AsyncAcceptedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "processing"
            ]
          },
          "job_id": {
            "type": "string",
            "description": "Use this to poll /status/{job_id}"
          },
          "poll_url": {
            "type": "string",
            "format": "uri",
            "description": "Full URL to poll for the result"
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "done",
              "error"
            ]
          },
          "result": {
            "type": "object",
            "nullable": true,
            "description": "Present once status is \"done\""
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description"
          }
        }
      }
    }
  }
}